*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

.hidden{
    visibility: hidden;
}

header div.logo_part{
    width: 24%;
}

header img{
    display: inline-block;
    margin: 0px 10px 0px 10px;
}

header h3{
    display: inline;
    color: whitesmoke;
    vertical-align: center;
}

body {
    position: relative;  /*To position main::before background*/

}

nav{
    background: #225582;
    background: linear-gradient(90deg,rgba(34, 85, 130, 1) 2%, rgba(109, 209, 149, 1) 75%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Lobster", serif;
    width: 100%;
    min-height:8vh;
}

nav ul{
    list-style-type: none;
    vertical-align: text-bottom;

}
nav li{
    display: inline;

}
nav ul li a{
    text-decoration: none;
    color: whitesmoke;
}
nav ul.menu{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

nav ul.search_section{
    position: relative;
}

nav ul.search_section div.search_group{
    position: absolute;
    right: 5px;
    top:5px;
}

nav ul.search_section i{
    font-size: 25px;
    color: black;
    background-color: transparent;
    vertical-align: bottom;
    transform: translateY(10%);
}


nav ul.search_section button{
    border: 2px;
    background-color: #2177C2;
    color: whitesmoke;
    padding: 3px 4px 3px 4px;
    border-radius: 5px;
    box-shadow: none;
    margin-right: 2px;
    transition: transform 0.2s ease-in;

}

nav ul.search_section button:hover{
    transform: scale(0.92);
    cursor: pointer;
}

nav ul.search_section input[type=text]{
    border: none;
    border-radius: 16px;
    width: 320px;
    height:38px;
    padding: 3px;
    margin-right: 2px;
}

main{
    background: url('./city.png') no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height:92vh;
    position: relative;
}

main::before{
    content:"";
    position: absolute;
    left:0;
    top: 0;
    width:100vw;
    height:92vh;
    background: linear-gradient(90deg,rgba(0, 0, 0, 0.3) 30%, rgba(204, 200, 200, 0.2) 53%, rgba(237, 237, 237, 0.1) 57%, rgba(255, 255, 255, 0.1) 62%);;
}

main div#social_section{
    width:14%;
    height: 100%;
    min-height: 92vh;
    /* display: inline-block;; */
    /* background-color: rgba(255, 255, 255, 0.3); */
    float: left;
    position: relative;
}

main div#line_box{
    display: inline-block;
    width:100%;
    height:44%;
    /* background-color: rgba(111, 63, 245, 0.3); */
    position: absolute;
    top: 0px;
}

main div#line_div{
    width: 2px;
    height: 80%;
    border-left: solid 2px white;
    position: absolute;
    left: 40px;
    bottom: 10%;


}

main div#social_box{
    width: 100%;
    height:56%;
    position: absolute;
    bottom: 0px;
    /* background-color: rgba(210, 238, 130, 1); */
}

main ul.social_media_list{

    min-height: 48%;
    margin-left:30px;
    list-style-type: none;
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

main ul.social_media_list svg{
    fill: white;
}

main div#home_message_section{
    width:80%;
    height:92vh;
    float: left;
}

main article.home_msg_article{
    position: relative;
    top:20%;
    color: white;
    overflow: hidden;
}

section.home_msg_big, section.home_msg_small, section.home_msg_button_box{
    margin: 10px 10px 10px 0px;
}


section.home_msg_big{
    font-size: 30px;
    margin-bottom: 13px;
}

section.home_msg_small{
    width: 400px;
    height: 120px;
    font-family: "Oxygen", sans-serif;
    font-size: small;
    margin-top: 18px;
    margin-bottom: 15px;
}

section.home_msg_big h1{
    font-family: "Stack Sans Text", sans-serif;
}

button#home_msg_button{
    margin-top: 20px;
    background-color:#2177C2;
    color: white;
    text-align: center;
    padding: 5px 8px 5px 8px;
    border: none;
    border-radius: 5px;
    transition: transform 0.2s ease-in;
}

button#home_msg_button:hover{
    transform: scale(0.9);
    cursor:pointer;
}

article.about_us_pg{
    color: white;
    position: relative;
    top: 14px;
    padding:1px;  /*for margin collapse*/
    overflow: hidden;
}



article.about_us_pg h1{
    margin-top: 20px;
    padding: 5px;
    font-family: "Stack Sans Text", sans-serif;
    font-size: 60px;
}

article.about_us_pg p{
   
    
}

section.about_us_text{
    font-size: 16px;
    line-height: 1.5;
    font-family: "Oxygen", sans-serif;
    width: 90%;
    height: auto;
    position: relative ;
    left:40px;
    /* border: solid 2px red; */
    padding: 2px;
    margin-bottom: 80px;
}

section.about_us_team{
    position: relative;
    left: 70px;
    width: 90%;
    min-height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: solid 2px white; */
    padding: 5px;
}

h1.about_us_team_title{
    font-size: 40px;
    font-family:"Stack Sans Text", sans-serif;
    width: 20px;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    float: left;
}

section.about_us_team_each{
    float: left;
    line-height: 1.5;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 15px;
    border-radius: 20px;
    flex-basis: 260px;
    height: 160px;
    position: relative;
  
}

section.about_us_team_each > p{
  opacity: 70%;
}

section.about_us_team_each::before{
    content:"";
    background: url("./contact_icon.png");
    background-size: cover;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: blue;
    left:-30px;
    top:2px;
    border-radius: 5px;
}

spam.position_label{
    padding: 5px;
    display: block;
    width: 180px;
    background-color: #225582;
    border-radius: 10px;
    color: white;
    border: 2px solid white;
    text-align: center;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom: 5px;
}




