*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

header div.logo_part{
    width: 24%;
}

header img{
    display: inline-block;
    margin: 0px 10px 0px 10px;
}

header h3{
    display: inline;
    color: whitesmoke;
    vertical-align: center;
}

nav{
    background: #225582;
    background: linear-gradient(90deg,rgba(34, 85, 130, 1) 2%, rgba(109, 209, 149, 1) 75%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Lobster", serif;
    width: 100%;
    min-height:50px;
}

nav ul{
    list-style-type: none;
    vertical-align: text-bottom;

}
nav li{
    display: inline;

}
nav ul li a{
    text-decoration: none;
    color: whitesmoke;
}
nav ul.menu{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

nav ul.search_section{
    position: relative;
}

nav ul.search_section div.search_group{
    position: absolute;
    right: 5px;
    top:5px;
}

nav ul.search_section i{
    font-size: 25px;
    color: black;
    background-color: transparent;
    vertical-align: bottom;
}

nav ul.search_section button{
    border: 2px;
    background-color: #2177C2;
    color: whitesmoke;
    padding: 3px 4px 3px 4px;
    border-radius: 5px;
    box-shadow: none;
    margin-right: 1px;
}

nav ul.search_section input[type=text]{
    border: none;
    border-radius: 16px;
    width: 320px;
    height:38px;
    padding: 3px;
}

main{
    background: url('./city.png') no-repeat;
    min-width: 100vw;
    min-height:100vh;
}


