*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

header div.logo_part{
    width: 24%;
}

header img{
    display: inline-block;
    margin: 0px 10px 0px 10px;
}

header h3{
    display: inline;
    color: whitesmoke;
    vertical-align: center;
}

nav{
    background: #225582;
    background: linear-gradient(90deg,rgba(34, 85, 130, 1) 2%, rgba(109, 209, 149, 1) 75%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Lobster", serif;
    width: 100%;
    min-height:8vh;
}

nav ul{
    list-style-type: none;
    vertical-align: text-bottom;

}
nav li{
    display: inline;

}
nav ul li a{
    text-decoration: none;
    color: whitesmoke;
}
nav ul.menu{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

nav ul.search_section{
    position: relative;
}

nav ul.search_section div.search_group{
    position: absolute;
    right: 5px;
    top:5px;
}

nav ul.search_section i{
    font-size: 25px;
    color: black;
    background-color: transparent;
    vertical-align: bottom;
    transform: translateY(10%);
}

nav ul.search_section button{
    border: 2px;
    background-color: #2177C2;
    color: whitesmoke;
    padding: 3px 4px 3px 4px;
    border-radius: 5px;
    box-shadow: none;
    margin-right: 2px;
}

nav ul.search_section input[type=text]{
    border: none;
    border-radius: 16px;
    width: 320px;
    height:38px;
    padding: 3px;
    margin-right: 2px;
}

main{
    background: url('./city.png') no-repeat;
    background-position: center;
    background-size: auto;
    width: 100%;
    min-height:92vh;
}

main div#social_section{
    width:14%;
    height: 100%;
    min-height: 100vh;
    /* display: inline-block;; */
    /* background-color: rgba(255, 255, 255, 0.3); */
    float: left;
    position: relative;
}

main div#line_box{
    display: inline-block;
    width:100%;
    height:44%;
    /* background-color: rgba(111, 63, 245, 0.3); */
    position: absolute;
    top: 0px;
}

main div#line_div{
    width: 2px;
    height: 80%;
    border-left: solid 2px white;
    position: absolute;
    left: 20%;
    bottom: 10%;


}

main div#social_box{
    width: 100%;
    height:56%;
    position: absolute;
    bottom: 0px;
    /* background-color: rgba(210, 238, 130, 1); */
}

main ul.social_media_list{

    min-height: 40%;
    margin-left:16px;
    list-style-type: none;
    position: absolute;
    top: 25%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

main ul.social_media_list svg{
    fill: white;
}

main div#home_message_section{
    width:80%;
    float: left;
}
